<div class="row">
    <div class="col-xs-12">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
            type="button" 
            class="btn btn-primary dropdown-toggle">Manage Task/To Do <span class="caret"></span>
            </button>
            <hr>
            <ul class="dropdown-menu">
                <li><a href="#">Add Task/ToDo</a></li>
                <li><a href="#">Edit Task/ToDo</a></li>
                <li><a href="#">Delete Task/ToDo</a></li>
            </ul>
    </div>    
    <div class="row">
        <div class="col-xs-12">
            <h3>Details/Description</h3>
        </div>
    </div>
</div>
