<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="taskname">Name of Task/ToDo:</label>
                    <input type="text" id="taskname" class="form-control">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="description">Details/Description</label>
                    <textarea type="text" id="description" placeholder="Input your description of the task/todo here." class="input-lg form-control" ></textarea>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Add</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>    
    </div>
</div>
